USE [MDS]
GO
/****** Object:  Table [dbo].[Child]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](200) NULL,
	[Adress] [varchar](50) NULL,
	[ID_Parent] [int] NULL,
	[ID_Group] [int] NULL,
	[Gender] [int] NULL,
 CONSTRAINT [PK_Child] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdGrEvents]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdGrEvents](
	[ID_Group] [int] NULL,
	[ID_Events] [int] NULL,
	[ID_Educators] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educators]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educators](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](100) NULL,
	[Phone] [char](11) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Educators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Code] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](200) NULL,
	[Adress] [varchar](50) NULL,
	[Phone] [char](11) NULL,
	[Email] [varchar](100) NULL,
	[Place_of_work] [varchar](100) NULL,
	[Query_Child] [int] NULL,
 CONSTRAINT [PK_Parents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.11.2022 8:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Login] [varchar](10) NULL,
	[Password] [varchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Child] ON 

INSERT [dbo].[Child] ([ID], [FIO], [Adress], [ID_Parent], [ID_Group], [Gender]) VALUES (1, N'Логинова И.В', N'ул. Ленина, д. 7', 1, 1, 2)
INSERT [dbo].[Child] ([ID], [FIO], [Adress], [ID_Parent], [ID_Group], [Gender]) VALUES (2, N'Новикова О.А', N'ул. Пушкина, д.32', 2, 3, 2)
INSERT [dbo].[Child] ([ID], [FIO], [Adress], [ID_Parent], [ID_Group], [Gender]) VALUES (3, N'Александров Д.В', N'ул. Загрекова, д 12', 3, 2, 1)
SET IDENTITY_INSERT [dbo].[Child] OFF
GO
INSERT [dbo].[EdGrEvents] ([ID_Group], [ID_Events], [ID_Educators]) VALUES (1, 3, 5)
INSERT [dbo].[EdGrEvents] ([ID_Group], [ID_Events], [ID_Educators]) VALUES (5, 4, 1)
INSERT [dbo].[EdGrEvents] ([ID_Group], [ID_Events], [ID_Educators]) VALUES (2, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[Educators] ON 

INSERT [dbo].[Educators] ([ID], [FIO], [Phone], [Email]) VALUES (1, N'Макарова Лилия Владимировна', N'89523456782', N'uncle@gmail.com')
INSERT [dbo].[Educators] ([ID], [FIO], [Phone], [Email]) VALUES (2, N'Орлова Ольга Викторовна', N'89474737622', N'drezet@yahoo.com')
INSERT [dbo].[Educators] ([ID], [FIO], [Phone], [Email]) VALUES (3, N'Ильина Наталия Николаевна', N'89463637371', N'moxfulder@outlook.com')
SET IDENTITY_INSERT [dbo].[Educators] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([ID], [Name], [Date]) VALUES (1, N'8 Марта', CAST(N'2022-03-08' AS Date))
INSERT [dbo].[Events] ([ID], [Name], [Date]) VALUES (2, N'23 февраля', CAST(N'2022-02-23' AS Date))
INSERT [dbo].[Events] ([ID], [Name], [Date]) VALUES (3, N'День матери', CAST(N'2022-11-29' AS Date))
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
INSERT [dbo].[Gender] ([Code], [Name]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([Code], [Name]) VALUES (2, N'Женский')
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([ID], [Name]) VALUES (1, N'Кнопочки')
INSERT [dbo].[Group] ([ID], [Name]) VALUES (2, N'Бусинки')
INSERT [dbo].[Group] ([ID], [Name]) VALUES (3, N'Звёздочки')
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Parents] ON 

INSERT [dbo].[Parents] ([ID], [FIO], [Adress], [Phone], [Email], [Place_of_work], [Query_Child]) VALUES (1, N'Логинова Кара Тимуровна', N'ул. Ленина, д. 7', N'89314523513', N'floxy@hotmail.com', N'Магазин Smart', 1)
INSERT [dbo].[Parents] ([ID], [FIO], [Adress], [Phone], [Email], [Place_of_work], [Query_Child]) VALUES (2, N'Новикова Юлия Глебовна', N'ул. Пушкина, д.32', N'89857438112', N'hllam@comcast.net', N'Городская поликлиника', 2)
INSERT [dbo].[Parents] ([ID], [FIO], [Adress], [Phone], [Email], [Place_of_work], [Query_Child]) VALUES (3, N'Александрова Екатерина Андреевна', N'ул. Загрекова, д 12', N'89747478322', N'smcnabb@att.net', N'Магазин Магнит', 1)
SET IDENTITY_INSERT [dbo].[Parents] OFF
GO
INSERT [dbo].[Users] ([ID], [Login], [Password]) VALUES (1, N'1', N'111')
INSERT [dbo].[Users] ([ID], [Login], [Password]) VALUES (2, N'2', N'222')
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Code])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_Gender]
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_Group] FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_Group]
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_Parents] FOREIGN KEY([ID_Parent])
REFERENCES [dbo].[Parents] ([ID])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_Parents]
GO
ALTER TABLE [dbo].[EdGrEvents]  WITH CHECK ADD  CONSTRAINT [FK_EdGrEvents_Educators] FOREIGN KEY([ID_Educators])
REFERENCES [dbo].[Educators] ([ID])
GO
ALTER TABLE [dbo].[EdGrEvents] CHECK CONSTRAINT [FK_EdGrEvents_Educators]
GO
ALTER TABLE [dbo].[EdGrEvents]  WITH CHECK ADD  CONSTRAINT [FK_EdGrEvents_Events] FOREIGN KEY([ID_Events])
REFERENCES [dbo].[Events] ([ID])
GO
ALTER TABLE [dbo].[EdGrEvents] CHECK CONSTRAINT [FK_EdGrEvents_Events]
GO
ALTER TABLE [dbo].[EdGrEvents]  WITH CHECK ADD  CONSTRAINT [FK_EdGrEvents_Group] FOREIGN KEY([ID_Group])
REFERENCES [dbo].[Group] ([ID])
GO
ALTER TABLE [dbo].[EdGrEvents] CHECK CONSTRAINT [FK_EdGrEvents_Group]
GO
